header {
    background-color: #5AF;
    text-align: center;
}
nav {
    background-color: #E85;
}
nav ul {
    list-style: none;  
    width : 100%;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline-block;
    flex:1;
}
nav ul li:hover {
    background-color: #EB5;
}
nav ul li a{
    text-decoration: none;
    color:white;
    display:block;
    text-align: center;
}
nav a:hover{
    color:#333;
}

h1 {
    color:red;
}
footer {
    background-color: #000;
    color:#FFF;
}
.author {
    font-style: italic;
}